.dot {
    width: 2px;
    height: 2px;
    background-color: black;
    position: absolute;
}

.success.button {
    cursor: inherit;
}

.panel {
    height: 100vh;
}

#toBeTracked .nimstim {
    min-height: 270px;
}